body {
    background-color: #26547C;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}

.messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #EF476F;
}

.error  {
    color: #EF476F;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
}

.webgl1 {
    color: #FFD166;
    font-family: 'Roboto Mono', monospace;
}

.webgl2 {
    color: #06D6A0;
    font-family: 'Roboto Mono', monospace;
}

span {
    color: #FCFCFC;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}